@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

:root {
    --primaryTextColor: #232e35;
    --primaryIconColor: #ff8800;
    --primaryIconColorHover: #e634dd;
}

body {
    margin: 0;
    font-family: "PT Serif", sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primaryIconColor);
    padding: 1rem 0;
    text-align: center;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    color: var(--primaryTextColor);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

.order-container {
    width: 100%;
    max-width: 800px;
    margin: 5rem auto;
    padding: 2rem;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.btn {
    background-color: var(--primaryIconColor);
    color: var(--primaryTextColor);
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: var(--primaryIconColorHover);
}

@media screen and (max-width: 768px) {
    .order-container {
        padding: 1rem;
    }
}

.fullname{
    width: 50%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
  }

  .fullname {
    color: #000000;
  }
  
  .fullname{
    outline: none;
    border: 1px solid #7d7d7d;
  }
