@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;
  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;
  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3fe;
  --primaryIconColor: #ff8800;
  --primaryIconColorHover: #5d51e8;
  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primaryIconColor);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5), 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Logo and Navigation Menu */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

/* Navigation Menu */
nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

body {
  font-family: "Roboto", sans-serif;
}

/* Judul 3 */
#judul {
  justify-content: center;
  display: flex;
}

#judul-biru {
  padding-left: 10px;
}

#judul h1 {
  color: black;
}

#judul-biru h1#judulwarna {
  color: var(--primaryIconColor);
}

#judul h1,
#judul-biru h1#judulwarna {
  margin: 0;
}

/* Portfolios */
#portfolios {
  padding: var(--sectionPadding);
}

.portfolios.main-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.portfolio {
  flex: 1;
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
}

.portfolio-cover {
  height: 250px;
}

.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--secondaryTextColor);
}

/* End of Portfolios */
.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 1rem 1.5rem;
  background: var(--primaryIconColor);
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  color: white;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.button-div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
    .portfolios.main-container {
      flex-direction: column;
    }
  
    .portfolio-container {
      margin-bottom: 40px;
    }
  }